@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import "tailwindcss";

@theme{
    --font-inter: 'Inter',  sans-serif;
}


body,html{
    height: 100%;
}

h1{
    @apply font-inter font-bold text-2xl leading-6;
}
h2{
    @apply font-inter font-normal text-[22px] text-[#878787];
}
h5{
    @apply font-inter font-bold! text-base;
}
h6{
    @apply font-inter font-normal text-sm;
}

.aside__nav-link{
    @apply flex items-center gap-3;
}
.aside__nav-icons{
 @apply text-2xl text-white/70;
}
.paginationBtn{
    @apply flex items-center gap-3;
}